<%- include('partials/header') %>

<div class="container">
    <div class="text-center mt-5">
        <h1>Create Your Account</h1>
        <p class="lead">Please fill out the following form to sign up today!</p>
    </div>

    <div id="result"></div>

    <form id="frmRegister">
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" id="email" name="email" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" id="firstname" name="firstname" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" id="lastname" name="lastname" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="tel" id="phone" name="phone" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />
            <small class="form-text text-muted">Please enter phone number in xxx-xxx-xxxx format</small>
        </div>
        <div>
            <p class="error"></p>
            <button id="btnRegister" class="btn btn-primary">Create Account</button>
        </div>
    </form>
</div>

<%- include('partials/scripts') %>

<script>
    $(function() {
        $('#email').focus();

        $('form').on('submit', function(e) {
            e.preventDefault();

            $('#result').hide();
            $('#result').removeClass();

            submitForm($(this), 'POST', API_URL_REGISTER, (resp) => {
                let resultText, resultClass;

                if (resp.success) {
                    resultText = `${resp.data.firstname} ${resp.data.lastname} has been created successfully!`;
                    resultClass = 'success';
                } else {
                    resultText = 'That user could not be created.<br />' + resp.message;
                    resultClass = 'fail';
                }

                if (resultText) {
                    $('#result').html(resultText);
                    $('#result').addClass(resultClass);
                    $('#result').show();
                }
            });
        });
    });
</script>

<%- include('partials/footer') %>
